{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}
{% block stylesheets %}
                       <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
                       <style>#chips {margin-left:auto;margin-right:auto; 
                           width:600px;
                           text-align:center;}</style>
        {% endblock %}
{% block body %}

            <main>
	<nav>
		<ul>    
                                                           <li><a href="{{ path('test', {'variable': "International"}) }}">{{ 'International'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Politics"}) }}">{{ 'Politics'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Society"}) }}">{{ 'Society'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable':  "Sport"})}}">{{ 'Sport'|trans }}</a></li>
			<li><a href="{{ path('test', {'variable':   "Culture"}) }}">{{ 'Culture'|trans }}</a></li>
		</ul>
	</nav>
           <article>

</main>
                <div id="chips">
                    {% for news in news | slice (1, 7) %}
                     	<article>
                            <a href="{{news.url}}"><img src="{{news.urlToImage}}" /></a>
				<p>{{news.title}}</p></a>
			</article>
             {%endfor%}
                 </div>
        {% endblock %}