{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}
{% block stylesheets %}
                       <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
        {% endblock %}
{% block body %}
      <p>{{news}}<p/>
            <main>
	<nav>
		<ul>    
                                                           <li><a href="{{ path('test', {'variable': "International"}) }}">{{ 'International'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Politics"}) }}">{{ 'Politics'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Society"}) }}">{{ 'Society'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable':  "Sport"})}}">{{ 'Sport'|trans }}</a></li>
			<li><a href="{{ path('test', {'variable':   "Culture"}) }}">{{ 'Culture'|trans }}</a></li>
		</ul>
	</nav>
           <article>

</main>
        {% endblock %}