{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}     
    <main>
	<nav>
		<ul>
                                                         <li><a href="{{ path('test', {'variable': "International"}) }}">{{ 'International'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Politics"}) }}">{{ 'Politics'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable': "Society"}) }}">{{ 'Society'| trans }}</a></li>
			<li><a href="{{ path('test', {'variable':  "Sports"})}}">{{ 'Sports'|trans }}</a></li>
			<li><a href="{{ path('test', {'variable':" Sports"}) }}">{{ 'Culture'|trans }}</a></li>
	</nav>
           <article>
	<section>
		<ul>
			<li><a href="#"><img src={{ asset('build/img/news/CBS.png')}}/></a></li>
			<li><a href="#"><img src={{ asset('build/img/news/ESPN.png')}}/></a></li>
			<li><a href="#"><img src={{ asset('build/img/news/Sky-Sports.png')}}/></a></li>
		</ul>
		<article><a href="#"><img src={{ asset('build/img/art/01.jpg')}}/></a></article>
	</section>
</main>
    <aside>
        	<div>Trending now</div>
                 
  {% for keys,news in news | slice (1, 6) %}
                        

                   <article>
          <img src="{{news.srcImageFile}}" height="100" width="300" />
 <a href="{{news.articleURL}}">{{news.title}}</a>
   </article>
      {% endfor %}
      	
</aside>
{% endblock %}
