{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
	<main>
		<nav>
			<ul>
				<li><a href="{{ path('test', {'variable': "International"}) }}">{{ 'International'| trans }}</a></li>
				<li><a href="{{ path('test', {'variable': "Politics"}) }}">{{ 'Politics'| trans }}</a></li>
				<li><a href="{{ path('test', {'variable': "Society"}) }}">{{ 'Society'| trans }}</a></li>
				<li><a href="{{ path('test', {'variable':  "Sport"})}}">{{ 'Sport'|trans }}</a></li>
				<li><a href="{{ path('test', {'variable':"Culture"}) }}">{{ 'Culture'|trans }}</a></li>
			</ul>
		</nav>
		<article>
			<section>
				<ul>
					<li><a href="https://www.cbs.com/"><img src={{ asset('build/img/news/CBS.png')}}/></a></li>
					<li><a href="http://www.espn.com/"><img src={{ asset('build/img/news/ESPN.png')}}/></a></li>
					<li><a href="http://www.skysports.com/"><img src={{ asset('build/img/news/Sky-Sports.png')}}/></a></li>
				</ul>
				<article><a href="http://www.beinsports.com/france/nba/?gr=www"><img src={{ asset('build/img/art/01.jpg')}}/></a></article>
			</section>
		</article>
	</main>
	<aside>
		<div>Trending now</div>

        {% for news in news | slice (1, 6) %}

			<article>
				<a href="{{news.articleURL}}"><<img src="{{news.srcImageFile}}" width="250" height="110" /></a>
                                <p>{{news.title}}</p></a>
			</article>
        {% endfor %}

	</aside>
{% endblock %}
