{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
	<main>
		<nav>
			<ul>
				<li><a href="{{ path('test', {'variable': "International"}) }}">International</a></li>
				<li><a href="{{ path('test', {'variable': "Politics"}) }}">Politics</a></li>
				<li><a href="{{ path('test', {'variable': "Society"}) }}">Society</a></li>
				<li><a href="{{ path('test', {'variable': "Sports"})}}">Sport</a></li>
				<li><a href="{{ path('test', {'variable':   "Cultue"}) }}">Culture</a></li>
			</ul>
		</nav>
		<article>
			<section>
				<ul>
					<li><a href="#"><img src={{ asset('build/img/news/CBS.png')}}/></a></li>
					<li><a href="#"><img src={{ asset('build/img/news/ESPN.png')}}/></a></li>
					<li><a href="#"><img src={{ asset('build/img/news/Sky-Sports.png')}}/></a></li>
				</ul>
				<article><a href="{{news.articleURL}}"><img src={{news.srcImageFile}}/></a></article>
			</section>
		</article>
	</main>
	<aside>
		<div>Trending now</div>

        {% for keys,news in news | slice (1, 6) %}


			<article>
                            <a href="{{news.articleURL}}"><img src="{{news.srcImageFile}}" height="100" width="300" /></a>
				<a href="{{news.articleURL}}">{{news.title}}</a>
			</article>
        {% endfor %}

	</aside>
{% endblock %}
