<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css')}}">
        <!-- Latest compiled and minified CSS -->
    {% endblock %}
</head>
<body>
<header>
    <section>
        <img src={{ asset('build/img/logo3.png')}}/>
        <ul>
            <li><a href={{path("login")}}><img src={{ asset('build/img/female.png')}}><br/></a></li>
            <li><a href="{{path("registration")}}"><img src={{ asset('build/img/header/add.png')}}/><br/></a></li>
            <li><a href="{{path("homepage")}}"><img src={{ asset('build/img/header/back-arrow.png')}}/><br/>Return</a></li>
        </ul>
    </section>
</header>
        {% block body %}{% endblock %}

<div class = "container">
    {%  include('flash-messages.html.twig') %}
    {% if app.user %}
        <a href="{{ path('logout') }}">LOGOUT</a>
    {% endif %}

</div>
<footer>
    <ul class="lang">
        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src={{ asset('build/img/lang/france.png')}}/></a></li>
        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'bg'})) }}"><img src={{ asset('build/img/lang/bulgarie.png')}}/></a></li>
        <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src={{ asset('build/img/lang/united-kingdom.png')}}/></a></li>
    </ul>

    <ul class="links">
        <li><a href="{{ path('Notice') }}">{{'Legal notice'| trans}}</a></li>
        <li><a href="{{ path('About') }}">{{'About us'| trans}}</a></li>
        <li><a href="{{ path('Termsofuse') }}">{{'Terms of use' | trans }}</a></li>
        <li><a href="{{ path('Questions') }}">{{'Questions' |trans }}</a></li>
    </ul>

    <ul class="sns">
        <li><a href="#"><img src={{ asset('build/img/male.png')}}/></a></li>
        <li><a href=""><img src={{ asset('build/img/sns/instagram-logo.png')}}/></a></li>
        <li><a href="#"><img src={{ asset('build/img/sns/twitter-logo.png')}}/></a></li>
    </ul>
</footer>

</body>

</html>